.inner {
    position: relative;
}

.select {
    border: none;
}

.selectBtn {
    background: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    gap: 3px;
    right: 0;
    font-size: 18px;
}

.selectBtn:hover {
    background: transparent;
    color: #666;
}

.input {
    border-radius: 20px !important;
    padding-right: 134px;
}

.inputDisabled {
    pointer-events: none;
    opacity: 0.7;
    &::selection {
        background-color: initial;
        color: initial;
    }
}

.tokenTitle {
    padding-left: 10px;
    margin-bottom: 13px;
    font-size: 19px;
    color: #fff;
}

.btnSelect {
    background: transparent;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    font-size: 15px;
}

.btnSelect:hover {
    background: transparent;
}

.btnSelect:not(:last-child) {
    margin-bottom: 8px;
}

.jettons {
    max-height: 800px;
    overflow-y: auto;
}

.selectInfo {
    display: flex;
    align-items: center;
    gap: 8px;
    > img {
        border-radius: 50%;
        height: 25px;
        width: 25px;
    }
    &Label {
        font-size: 17px;
    }
}