.inner {
  position: relative;
  margin: 23px 0;
}

.select {
  border: none;
}

.selectBtn {
  background: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  gap: 3px;
  right: 0;
}

.selectBtn > div > svg > path {
  stroke: #fff;
}

.selectBtn:hover {
  background: transparent;
  color: #666;
}

.input {
 padding-right: 90px;
}

.tokenTitle {
  padding-left: 10px;
  margin-bottom: 10px;
}

.btnSelect {
  background: transparent;
  width: 100%;
  justify-content: space-between;
  padding: 13px 10px;
}

.btnSelect > div > svg > path {
  stroke: #fff;
}

.btnSelect:not(:last-child) {
  margin-bottom: 5px;
}

.jettons {
  max-height: 130px;
  overflow-y: auto;
}