.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.fileInner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clearImages {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.fileData {
  margin-bottom: 16px;
}
