.title {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 14px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.fileInner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clearImages {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.fileData {
  margin-bottom: 30px;
}

.fileText {
  margin-top: 5px;
  font-weight: 400;
}

.spinner {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fileBtn {
  width: 100%;
}


.fileInner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.fileInner > img {
  height: 150px;
  border-radius: 10px;
}

.clearImages {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.amount {
  margin-bottom: 25px;
}

.textarea {
  height: 120px;
}