.filterBlock {
  margin-top: 35px;
}

.search {
  border-radius: 20px;
  border: 0px;
  padding-left: 15px;
  background: var(--gray);
}

.title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 17px;
}

.cards {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
}

.searchInner {
  position: relative;
}

.searchHome {
  padding-left: 45px;
}

.searchIcon {
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
}

.searchIcon > path {
  stroke: #98989E;
}