.homeBlock {
  margin-top: 35px;
}

.title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 17px;
}

.cards {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
}

/*--------------------search--------------------*/
.search {
  border-radius: 20px;
  border: 0px;
  padding-left: 45px;
  background: var(--gray);
}

.searchInner {
  position: relative;
}

.searchIcon {
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
  > path {
    stroke: #98989E;
  }
}

.searchClear {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.3s ease 0s;
  &:hover {
    transform: translateY(-50%) scale(1.09);
  }
}

/*--------------------/search--------------------*/