.inner {
  position: relative;
}

.expandButton {
  color: #45AEF5 !important;
  font-weight: bold;
  position: absolute;
  right: 0;
  bottom: -10px;
  text-align: right;
  transition: duration 300ms;
}

.expanded {
  width: 100%;
  bottom: -15px;
}

.text {
  color: #98989E !important;
  word-wrap: break-word;
  font-weight: 410;
}