@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700,800,900);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff !important;
}

body {
    font-family: 'Inter', 'sans-serif';
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    background: #1c1c20;
}

:root {
    --black: #000;
    --gray: #3D3D3D;
    --gray2: #1C1C20;
    --gray3: #232323;
    --blue: #2E7DDB;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    color: inherit;
    text-decoration: none;
    outline: none;
}

a {
  text-decoration: none;
}

.action-btn {
    padding: 24.5px 5px;
    font-weight: 400;
}

.action-btn:hover {
    background: #0e0d0d;
}

.input {
    border-radius: 20px;
    background: #3D3D3D;
    border: 0;
    width: auto;
}

.input::placeholder {
    font-weight: 500;
    font-size: 15px;
}

.link {
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    border-radius: 20px;
    background: #3d3d3d;
    outline: none;
}

.pd1hhM4VsZwE2OkpOmOD {
    width: 100%;
}

.Dmb0xu0JMO_f60BeLU7l {
    background: #3D3D3D !important;
}
