.inner {
    margin-bottom: 12px;
}

.img {
    border-radius: 20px;
    background: #3d3d3d;
    width: 330px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    margin: 28px 0;
}

.description {
    width: 330px;
    height: 266px;
    border-radius: 20px;
    background: #3d3d3d;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 42px;
}

@media (max-width: 389px) {
  .img {
    width: auto;
  }
  .description {
      width: auto;
      haight: auto;
  }
}

.info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
