.wrapper {
    margin: 0 auto;
    padding: 0 30px;
    // max-width: 390px;
}

.actions {
    position: fixed;
    bottom: 15px;
    background-color: rgba(48, 47, 47, 0.8) !important;
    left: 50%;
    transform: translateX(-50%);
    max-width: 350px;
    width: 100%;
    padding: 12px 25px;
    border-radius: 100px;
    justify-content: space-between;
}

@media (max-width: 375px) {
    .actions {
        max-width: 280px;
    }
}

.headerClass {
    background: #222;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    left: 0;
    z-index: 200; 
    top: 0;
    right: 0;
    padding: 0 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.content {
    padding: 90px 0;
}

.connectButton {
    padding: 9px 17px;
    background: var(--blue);
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.3s ease 0s;
}

.connectButton:hover {
    background: #1a6dd3;
}

@media (max-width: 389px) {
    .wrapper {
        padding: 0 15px;
    }
    .headerClass {
        padding: 0 15px;
    }
}

@media (max-width: 345px) {
    .actions {
        max-width: 250px;
    }
}

.actionIcon > path {
    stroke: #98989E !important;
}

.activeIcon > path {
    stroke: #fff !important;
}